{% extends "general/layout.html" %}

{% block head_title %} Profiles {% endblock %}

{% block page_content %}
    <div class="container">
        {% include "_includes/_messages.html" %}
        <h1>Perfiles</h1>
<hr>
        <div class="row">
            {% for object in profiles  %}
                <div class="col-12 col-sm-6 col-md-4">
                    {% if object.profile_img %}
                <img src="{{ object.profile_img.url }}" alt="" width=200>
            {% else %}
                <p>No tiene foto de perfil</p>
            {% endif %}
            <h4>{{object.user.username|default_if_none:"Sin rellenar"}}</h4>
            <p>Biografía - {{object.biografia|default_if_none:"Sin rellenar"}}</p>
            <p>Cumpleaños - {{object.birth_date|default_if_none:"Sin rellenar"}}</p>
            <p>Seguidores - {{object.followers.count|default_if_none:"Sin rellenar"}}</p>
            <p><a href="{% url 'profile_detail' object.pk %}">Visitar Perfil</a></p>
            <hr>
                </div>
            
            

        {% endfor %}
        </div>
        
        

    </div>
{% endblock %}