{% extends "general/layout.html" %}

{% block head_title %} MiPerfil {% endblock %}

{% block page_content %}
    <div class="container">
        {% include "_includes/_messages.html" %}
        <h1>Mi Perfil</h1>
        <p>Biografía {{object.biografia|default_if_none:"Sin rellenar"}}</p>
        <p>Cumpleaños {{object.birth_date|default_if_none:"Sin rellenar"}}</p>
        <p>Seguidores {{object.followers.count|default_if_none:"Sin rellenar"}}</p>
        {% if object.profile_img %}
            <img src="{{ object.profile_img.url }}" alt="" width=200>
        {% else %}
            <p>No tiene foto de perfil</p>
        {% endif %}

        <p><a href="{% url 'profile_update' object.pk %}">Editar</a></p>
    </div>

        

{% endblock %}
